<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <link
      rel="icon"
      type="image/ico"
      href="https://scontent-mia3-1.xx.fbcdn.net/v/t39.30808-6/275991869_103594065617109_228020381243183883_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=QnvI18noyB8AX9QIrlv&_nc_ht=scontent-mia3-1.xx&oh=00_AfDbOWdOtf6ClQljjTSHpIzB2wZnJMjbIMBCuWuIx8ngEA&oe=63618A4E"
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
