// app global css in Sass form
/* ANCHORS */
a
  color: var(--q-primary)
  text-decoration: none
  transition: 0.2s

.index-card
  width: 100%
  max-width: 600px
  text-align: center
body
  font-size: 14pt
